<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<!-- 
<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
 -->
<servlet>  
    <servlet-name>chapter2</servlet-name>  
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
    	<param-name>contextConfigLocation</param-name>
    	<!-- 
    	<param-name>contextClass</param-name>//Class that implements WebApplicationContext默认是XmlWebApplicationContext 
    	<param-name>namespace</param-name>//Namespace of the WebApplicationContext. Defaults to [servlet-name]-servlet
    	 -->
    	<param-value>classpath:chapter2-servlet.xml</param-value>
    </init-param>  
    <load-on-startup>1</load-on-startup>  
</servlet>  
<servlet-mapping>  
    <servlet-name>chapter2</servlet-name>  
    <url-pattern>/</url-pattern>  
</servlet-mapping>
<servlet>
	<servlet-name>forwarding</servlet-name>
	<servlet-class>cn.javass.chapter2.web.servlet.ForwardingServlet</servlet-class>
</servlet>  
</web-app>